.pagination {
  &-item,
  &-prev,
  &-next {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: #a4d96c;
      transition: all 0.3s ease;
      color: #fff;
    }
  }
}
